<md-toolbar color="primary">
  Grapevine
  <span class="app-toolbar-filler"></span>
</md-toolbar>

<div class="card-container">
  <md-card *ngFor="let msg of latest">
    <md-card-header>
      <img md-card-avatar src="assets/img.png">
      <md-card-title>{{msg.title}}</md-card-title>
      <md-card-subtitle>{{msg.user}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <img md-card-md-image src="assets/img.png"> {{msg.text}}
    </md-card-content>
    <md-card-actions align="end">
      <button md-mini-fab>
        <md-icon class="md-24">open_in_new</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>