md-card {
  flex-basis:auto;
  width: 22%;
  box-sizing: border-box;
  margin: 5px;
}

[md-fab] {
  position: absolute;
  right: 3%;
  top: 34px;
  z-index: 1;
}

[md-mini-fab] {
  position: absolute;
  right: -10px;
  bottom: -10px;
  z-index: 1;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}