<md-toolbar color="primary">
  Grapevine
  <span class="app-toolbar-filler"></span>
  <button md-fab (click)="formShowing=!formShowing">
      <md-icon>add</md-icon>
    </button>
</md-toolbar>

<div class="form" *ngIf="formShowing">
  <gv-message-editor [wizard]="false" (onMessageCreated)="onMessageCreated($event)"></gv-message-editor>
</div>

<div class="card-container">
  <md-card *ngFor="let msg of latest">
    <md-card-header>
      <img md-card-avatar src="images/user_male.png">
      <md-card-title>{{msg.title}}</md-card-title>
      <md-card-subtitle>{{msg.user}}</md-card-subtitle>
    </md-card-header>
      <img md-card-image src="images/image.png"> 
    <md-card-content>
      {{msg.text}}
    </md-card-content>
    <md-card-actions align="end">
      <button md-mini-fab>
        <md-icon class="md-24">open_in_new</md-icon>
      </button>
    </md-card-actions>
  </md-card>
</div>